@import "../css/global.css";
@import "../css/header.css";

body{
    background: var(--indonesia-bg);
    background-size: cover;     /* Faz com que a imagem ocupe toda a área */
    background-position: center; /* Centraliza a imagem */
    height: 100vh; 
    overflow: hidden;             
}
